{% extends 'base.html' %}
{% block title %} registration {% endblock %}
{% block body %}

<br>
<div class="container">
  <form method="POST">
    {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
    {% endif %}
      {% csrf_token %}
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="text"  class="form-control"  name="name"/>
      <label class="form-label"  >User Name</label>
    </div>

      <div class="form-outline mb-4">
      <input type="email" class="form-control" name="email" />
      <label class="form-label" >Email</label>
        </div>
      <div class="form-outline mb-4">
      <input type="password" class="form-control" name="password"/>
      <label class="form-label" >Password</label>
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" name="password1" />
      <label class="form-label" for="form2Example2"> Retype Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>



  </form>
</div>
{% endblock %}